body { 

  margin: 0;
  padding: 0;
  background-image: url("../illustrations/swipe-pictures-background-1.jpg");
  background-repeat: none;
  font-family: helvetica, arial, serif;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
}
.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  /** EFFET ESPACE */
   border-radius: 0% 0% 50% 50%;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: rgba(0,79,95,0.6);

}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Pour afficher le menu en ligne en haut */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
}

.rubrique-connexion {
  margin: 25% 25% 25% 30%;
  padding: 1% 1% 1% 1%;
  border-radius: 25px ;
  width: 40%;
  height: 40%;
  background-color: rgba(0,79,95,0.6);
  color: white;

}

.sous-rubrique-connexion {

  padding: 1% 1% 1% 1%;
  border-radius: 25px ;
  background-color: rgba(0,79,95,0.3);
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#lien-inscription {
  text-decoration-style: none ;
  text-transform: none;
  color: white ;
}
#logo-connexion {
  width: 25%;
  height: 25%;
  margin-bottom: 2%;
}


