

body { 

  margin: 0;
  padding: 0;
  background-image: url("../illustrations/swipe-pictures-background-2.jpg");
  background-repeat: none;
  font-family: helvetica, arial, serif;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
}
.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  /** EFFET ESPACE */
   border-radius: 0% 0% 50% 50%;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: rgba(0,79,95,0.6);

}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Pour afficher le menu en ligne en haut */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
}